{% extends 'users/base.html' %}
{% load my_tags %}
{% block content %}

{% if request.user.is_authenticated %}
{% if not user|has_group:"manager" %}
<div class="text-center container">
    <a class="btn btn-outline-success" href="{% url 'blog:create' %}" type="button">Создать блог</a>
</div>
{% endif %}
{% endif %}

<div class="container mt-5">
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for object in post_list %}
    <div class="col">
        <div class="card h-100">
            <img src="{% my_media_tag object.image %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ object.title|title }}</h5>
                <p class="card-text">{{ object.description|truncatechars:100 }}</p>
                <p class="card-text">Автор: {{ object.owner }}</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'blog:view' object.pk %}" type="button"
                   class="btn btn-sm btn-outline-success">Просмотр</a>
                {% if request.user.is_authenticated %}
                {% if not user|has_group:"manager" %}
                {% if user == object.owner or request.user.is_staff %}
                <a href="{% url 'blog:edit' object.pk %}" type="button"
                   class="btn btn-sm btn-outline-secondary">Редактировать</a>
                <a href="{% url 'blog:delete' object.pk %}" type="button"
                   class="btn btn-sm btn-outline-danger">Удалить</a>
                {% endif %}
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}