{% extends 'users/base.html' %}

{% block content %}

<div class="text-center container">
    <div class="card col-8">
        <form method="post" enctype="multipart/form-data">
            <div class="card-header">
                <h4 class="card-title">Регистрация</h4>
            </div>
            <div class="card-body">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                <a class="p-2 btn btn-outline-primary" href="{% url 'users:main' %}">Главная</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}