{% extends 'users/base.html' %}

{% block content %}

<div class="container text-center">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">id Пользователя</th>
            <th scope="col">Почта</th>
            <th scope="col">страна</th>
            <th scope="col">телефон</th>
            <th scope="col">Статус</th>
        </tr>
        </thead>
        <tbody>

        {% for user in object_list %}
        {% if not user.is_superuser %}

        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ user.pk }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.country }}</td>
            <td>{{ user.phone }}</td>
            {% if user.is_active %}
            <td>
                <a href="{% url 'users:toggle_active' user.pk %}" type="button"
                   class="btn btn-success">True</a>
            </td>
            {% else %}
            <td>
                <a href="{% url 'users:toggle_active' user.pk %}" type="button"
                   class="btn btn-danger">False</a>
            </td>
        </tr>
        {% endif %}
        {% endif %}
        {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}