{% extends 'users/base.html' %}

{% block content %}

<div class="text-center container">
    <div class="card col-8">
        <div class="card-header">
            <h4 class="card-title">Профиль</h4>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
        <div class="card-footer">
            <a class="btn btn-danger" href="{% url 'users:generate_new_password' %}">Сгенирировать пароль</a>
            <a class="p-2 btn btn-outline-primary" href="{% url 'users:main' %}">Главная</a>
        </div>
    </div>
</div>

{% endblock %}