{% extends 'users/base.html' %}

{% block content %}

<div class="container">
    <div class="card col-8">
        <div class="card-body">

            <h5 class="card-title">email: {{ client.email }}</h5>
            <p class="card-text mb-3">Имя: {{ client.name|title }}</p>
            <p class="card-text mb-3">Фамилия: {{ client.surname|title }}</p>
            <p class="card-text mb-3">Отчество: {{ client.patronymic|title }}</p>
            <p class="card-text mb-3">Комментарий:
                {% if client.comment %}
                {{ client.comment }}
                {% else %}
                None
                {% endif %}</p>

        </div>
        <div class="card-footer">

            {% if request.user.is_staff %}
            <p class="card-text mb-3">Владелец: {{ client.owner }}</p>
            {% endif %}
            <a type="button" href="{% url 'clients:list'%}"
               class="btn btn-lg btn-block btn-outline-primary">return</a>

        </div>
    </div>
</div>

{% endblock %}
