{% extends 'users/base.html' %}
{% load my_tags %}
{% block content %}

<div class="container col-8 mt-2 mb-5">
    <div class="card">
        <div class="card-header text-center">
            <h1>Статистика</h1>
        </div>
        <div class="card-body">
            <div class="row text-center ">
                <div class="col-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th><h4>Количество отправленных писем</h4></th>
                            <th><h4>Отправленно успешно</h4></th>
                            <th><h4>Количество ошибок</h4></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><h4>{{ all }}</h4></td>
                            <td><h4>{{ success }}</h4></td>
                            <td><h4>{{ error }}</h4></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Дата попытки</th>
            <th scope="col">Статус</th>
            <th scope="col">Ответ сервиса</th>
            {% if user.is_staff %}
            <th scope="col">Владелец</th>
            {% endif %}
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>

        {% for log in object_list %}

        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ log.time }}</td>
            <td>{{ log.status }}</td>
            <td>{{ log.server_response }}</td>
            {% if user.is_staff %}
            <td>{{ log.owner }}</td>
            {% endif %}
            <td>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <a href="{% url 'distribution:log_detail' log.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">Детали</a>
                    <a href="{% url 'distribution:view' log.mailing.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">К рассылке</a>
                    {% if not user|has_group:"manager" %}
                    <a href="{% url 'distribution:log_delete' log.pk %}" type="button"
                       class="btn btn-sm btn btn-danger">Delete</a>
                    {% endif %}
                </div>
            </td>
        </tr>

        {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}
